/*-------

ファーストビュー

---------*/
.hero img{
width: 100%
}

/*-------

ABOUT

---------*/

.about{
    padding: 30px;
    text-align: center;
}
.about h2{
    font-size: clamp(22px,2.3vw,36px);
    margin-bottom: 20px;
}

/*-------

menu

---------*/

.menu{
    background: var(--scondaly-color);
    padding: 30px;
    text-align: center;
}
.menu h2{
    font-size: clamp(22px,2.3vw,36px);
    margin-bottom: 20px;
}
.menu table{

    margin: 0 auto;
    text-align: left;
}
.menu td{
padding : 10px;
}

/*-------

information

---------*/

aside{
background-color: var(--primary-color);
color: var(--background-color);
padding:  30px;
text-align: center
}

aside h2{
    font-size: clamp(22px,2.3vw,36px);
    margin-bottom: 20px;
}

aside p{
    margin-bottom:  20px;
}

aside figure img{
width: 150px;
margin-bottom: 20px;
}

aside .btn a{
display: inline-block;
background-color: var(--background-color);
padding: 20px 80px;
border-radius: 100px;
}

footer{
padding: 10px;
text-align: center;
}